:root{
  --teal: #23373b;
  --whiteish: #FEFEFE; 
  --orange: #EB811B;
  --otherteal: #205550;
}

body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 70%;
    color: var(--whiteish); 
    background-color: var(--teal);
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, arial, sans-serif;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: var(--orange);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


