---
layout: entitled
title: Selected Collaborations
---


<h2 id="trustworthy-ml">Trustworthy ML</h2>

<ul>
  <li><strong>project</strong>: <a href="https://secint.visp.wien/">Secure and Intelligent Human-Centric Digital Technologies</a></li>
  <li><strong>type</strong>: TU Wien Doctoral College</li>
  <li><strong>ruml</strong>: 
  <ul><li>{% include linked_name.html id="PatrickIndri" %}</li><li>{% include linked_name.html id="ThomasGaertner" %}</li></ul>
</ul>

<h2 id="ai-for-remote-sensing">AI for Remote Sensing</h2>
<ul>
  <li><strong>project</strong>: Artificial Intelligence for Advanced SAR Processing</li>
  <li><strong>type</strong>: FFG [ASAP17]</li>
  <li>
    <strong>partners</strong>:
    <ul>
      <li>EODC Earth Observation Data Centre for Water Resources Monitoring GmbH (EODC, PI)</li>
      <li>Joanneum Research Forschungsgesellschaft mbH</li>
      <li>Airbus Defence and Space GmbH</li>
    </ul>
  </li>
  <li><strong>ruml</strong>: {% include linked_name.html id="ThomasGaertner" %}</li>
</ul>

<h2 id="ml-for-analysis-and-design-of-bacteriophages">ML for Analysis and Design of Bacteriophages</h2>

<ul>
  <li><strong>project</strong>: Using bacteriophage to control Salmonella in pigs</li>
  <li><strong>type</strong>: UKRI [BBSRC responsive mode]</li>
  <li>
    <strong>partners</strong>:
    <ul>
      <li>University of Leicester (PI)</li>
      <li>University of Nottingham</li>
    </ul>
  </li>
  <li><strong>ruml</strong>: 
  <ul><li>{% include linked_name.html id="TamaraDrucks" %}</li><li>{% include linked_name.html id="ThomasGaertner" %}</li></ul>
  </li>
</ul>

<h2 id="ml-for-analysis-and-design-of-molecules-and-chemical-reactions">ML for Analysis and Design of Molecules and Chemical Reactions</h2>

<ul>
  <li><strong>type</strong>: UKRI [MRC: MR/S502431/1, EPSRC: EP/S515516/1]</li>
  <li>
    <strong>partners</strong>:
    <ul>
      <li>University of Nottingham</li>
      <li>GlaxoSmithKline plc</li>
    </ul>
  </li>
  <li><strong>ruml</strong>: {% include linked_name.html id="ThomasGaertner" %}</li>
</ul>

<h2 id="ml-mooc">ML MOOC</h2>

<ul>
  <li><strong>project</strong>: <a href="https://www.tuwien.at/einformatics/">eInformatics@Austria</a></li>
  <li><strong>type</strong>: BMBWF [Digitale und Soziale Transformation in der Hochschulbildung]</li>
  <li><strong>partners</strong>: <a href="http://www.mschedl.eu/">Markus Schedl</a> (JKU Linz)</li>
  <li><strong>ruml</strong>: 
  <ul><li>{% include linked_name.html id="DavidPenz" %}</li><li>{% include linked_name.html id="ThomasGaertner" %}</li></ul>
  </li>
</ul>

<h2 id="ml-in-shapetech">ML in ShapeTech</h2>

<ul>
  <li><strong>project</strong>: Shaping technology: biometric data, collective empowerment and humanization of work</li>
  <li><strong>type</strong>: WWTF [ICT20-034]</li>
  <li><strong>PI</strong>: <a href="https://www.ict.tuwien.ac.at/staff/taherinejad/index.html">Nima TaheriNejad</a> (TU Wien)</li>
  <li><strong>ruml</strong>: 
  <ul><li>{% include linked_name.html id="TamaraDrucks" %}</li><li>{% include linked_name.html id="ThomasGaertner" %}</li></ul>
  </li>
</ul>

<h2 id="ml-for-biological-and-chemical-data">ML for Biological and Chemical Data</h2>
<ul>
  <li><strong>type</strong>: WTZ [BMBWF, OeAD: FR 08/2022]</li>
  <li><strong>project</strong>: Modelling Complex Structured Real Biological and Chemical Data using Machine Learning</li>
  <li><strong>partners</strong>: <a href="https://sites.google.com/view/nsokolovska">Nataliya Sokolovska</a> (University Pierre et Marie Curie, Paris 6)</li>
  <li><strong>ruml</strong>:
  <ul><li>{% include linked_name.html id="MaxThiessen" %}</li><li>{% include linked_name.html id="ThomasGaertner" %}</li></ul>
  </li>
</ul>
