---
layout: entitled
title: People
---
<link rel="stylesheet" href="people_grid.css">

<div class="container pictures">
  <div class="grid m-0 p-0">
    <div class="item"><img src="img/tg.png", width="150" height="150"></div>
    <div class="item"><p><b>Prof. Thomas Gärtner</b>: Computational aspects of machine learning.</p></div>
  </div>
</div>

<br><br><br>

<div class="container pictures">
  <div class="grid m-0 p-0">
    <div class="item"><img src="img/mt.png", width="150" height="150"></div>
    <div class="item"><p><b>Maximilian Thiessen</b>: Graph-based machine learning, active learning, and learning theory. Connects (graph) convexity theory with machine learning.</p></div>
    <div class="item"><img src="img/dp.png", width="150" height="150"></div>
    <div class="item"><p><b>David Penz</b>: Background in economics and theoretical computer science. Working on disentangled representations, knowledge transfer, and neuro-symbolic AI.</p></div>
    <div class="item"><img src="img/td.png", width="150" height="150"></div>
    <div class="item"><p><b>Tamara Drucks</b>: Background in bioinformatics and theoretical computer science. Now interested in graphs, optimization, and (deep) learning theory.</p></div>
    <div class="item"><img src="img/pi.png", width="150" height="150"></div>
    <div class="item"><p><b>Patrick Indri</b>: Background in physics and data science. Interested in trustworthy machine learning focusing on privacy and robustness.</p></div>
    <div class="item"><img src="img/fj.png", width="150" height="150"></div>
    <div class="item"><p><b>Fabian Jogl</b>: Machine learning on graphs and especially graph neural networks. Combining ideas from algorithmics with machine learning.</p></div>
    <div class="item"><img src="img/aj.png", width="150" height="150"></div>
    <div class="item"><b><p>Anice Jahanjoo</b>: Machine learning in Health Monitoring Systems and SAR Image processing.</p></div>
    <div class="item"><img src="img/pw.png", width="150" height="150"></div>
    <div class="item"><p><b>Pascal Welke</b>: Interested in similarity based learning on graphs, as well as counting of various substructures for fun and (machine learning) profit.
  </div>
  <div class="item"><img src="img/sm.png", width="150" height="150"></div>
    <div class="item"><p><b>Sagar Malhotra</b>: Machine learning, logic, and probability in all possible combinations. 
  </div>
</div>

<br><br><br>



<h2>Group Leader</h2>
Univ.-Prof. Dr. rer. nat. {% include linked_name.html id="ThomasGaertner" %}
<h2>Group members</h3>
<h3>TU Wien (from 2019)</h3>
<ul>
{% for member in site.data.group.wien %}
 <li>
  {{ member.title }} 
  {% assign key = member.id %}
  {% include linked_name.html id=key %}
  {{ member.role }}{% if member.current != nil %}, now {{ member.current }}  {% endif %}
 </li>
{% endfor %}

<li>{% include linked_name.html id="HannahKacmaz" %} (Administration)</li>
<li>{% include linked_name.html id="MartinaTrauner" %} (IT Services)</li>
</ul>
<b><a href="{{'/hiring_en/' | prepend: site.url }}">We are hiring!!!</a></b>
<br>

<h3>University of Nottingham (2015--2019)</h3>
<ul>
{% for member in site.data.group.notts %}
 <li>
  {{ member.title }} 
  {% assign key = member.id %}
  {% include linked_name.html id=key %}
  {{ member.role }}{% if member.current != nil %}, now {{ member.current }}  {% endif %}
 </li>
{% endfor %}
</ul>


<h3>University of Bonn / Fraunhofer IAIS (until 2015)<br>
</h3>
<ul>
{% for member in site.data.group.bonn %}
 <li>
  {{ member.title }} 
  {% assign key = member.id %}
  {% include linked_name.html id=key %}
  {{ member.role }}{% if member.current != nil %}, now {{ member.current }}{% endif %}
 </li>
{% endfor %}
</ul>

<div>
<h2>Other Co-authors</h2>
<h3>Former Supervisors</h3>
<ul><li>Prof. Dr. {% include linked_name.html id="PeterFlach"%} (University of Bristol)</li>
<li>Prof. Dr. {% include linked_name.html id="StefanWrobel"%} (University of Bonn and Fraunhofer IAIS)<br>
</li></ul>
<h3>Co-supervised graduate students <br>
</h3>
<ul>
<li>{% include linked_name.html id="TimothyEllersiek"%}</li>
<li>Sebastian Bothe</li>
<li>Jens Humrich</li>
<li>Laurentiu Ilici</li>
<li>Hongqi Wang</li>
<li>Jiaojian Wang</li></ul>
</div>
<div>
<h3>National and International Collaborators<br>
</h3>
<ul>
<li>Dr. {% include linked_name.html id="GemmaGarriga"%} (Global Head of AI &amp; Advanced Business Analytics at Allianz, cf <a href="https://www.handelsblatt.com/unternehmen/it-medien/koepfe-der-kuenstlichen-intelligenz-8-eine-spanierin-will-den-allianz-konzern-radikal-vereinfachen/23110488.html">Handelsblatt</a>)</li>
<li>Dr. Eyjolfur Gudmondsson (president of the University of Akureyri, cf <a href="https://web.uri.edu/quadangles/the-virtual-economist/">The Virtual Economist</a>)</li>
<li>Dr. {% include linked_name.html id="AlexSmola"%} (Director for Machine Learning at Amazon Web Services)</li>
<li>Prof. Dr. {% include linked_name.html id="SVNVishwanathan"%} (University of California, Santa Cruz)</li>
<li>Emeritus Prof. Dr. {% include linked_name.html id="JohnLloyd"%} (Australian National University)</li>
<li>Prof. Dr. {% include linked_name.html id="ClaudioLucchese"%} (Ca’ Foscari University of Venice)</li>
<li>Prof. Dr. {% include linked_name.html id="TobiasScheffer"%} (University of Potsdam)</li>
<li>Prof. Dr. {% include linked_name.html id="KurtDriessens"%} (Maastricht University)</li>
<li>Prof. Dr. {% include linked_name.html id="JuergenBajorath"%} (University of Bonn)</li>
<li>Prof. Dr. {% include linked_name.html id="KristianKersting"%} (TU Darmstadt)</li>
<li>Prof. Dr. {% include linked_name.html id="StephaneCanu"%} (INSA of Rouen)</li>
<li>Dr. Hanna Geppert (Fraunhofer FKIE)</li>
<li>Prof. Dr. {% include linked_name.html id="GillesGasso"%} (INSA of Rouen)</li>
<li>Dr. {% include linked_name.html id="JanRamon"%} (INRIA Lille)</li>
<li>Dr. {% include linked_name.html id="YaseminAltun"%} (Google)</li>
<li>Dr. Karina Zapien Arreola</li>
<li>Dr. {% include linked_name.html id="QuocLe"%} (Google)</li>
<li>Dr. Henrik Grosskreutz</li>
<li>Dr. Dagmar Stumpfe</li>
<li>Dr. Adam Kowalczyk</li>
<li>Dr. Sandy Moens</li>
<li>Petur Oskarsson</li>
<li>Simon Burton</li>
</ul>
</div>
