---
layout: entitled
title: People
---

<!--<img class="fit-picture" src="team.png" alt="team picture" style="display:block">-->
<!--<img src="team.png" alt="team picture" width="842px" height="595px">-->

<h2>Group Leader</h2>
Univ.-Prof. Dr. rer. nat. {% include linked_name.html id="ThomasGaertner" %}
<h2>Group members</h3>
<h3>TU Wien (from 2019)</h3>
<ul>
{% for member in site.data.group.wien %}
 <li>
  {{ member.title }} 
  {% assign key = member.id %}
  {% include linked_name.html id=key %}
  {{ member.role }}{% if member.current != nil %}, now {{ member.current }}  {% endif %}
 </li>
{% endfor %}

<li>{% include linked_name.html id="FranziskaTiefenthaller" %} (Administration)</li>
<li>{% include linked_name.html id="MartinaTrauner" %} (IT Services)</li>
</ul>
<b><a href="{{'/hiring_en/' | prepend: site.url }}">We are hiring!!!</a></b>
<br>

<h3>University of Nottingham (2015--2019)</h3>
<ul>
{% for member in site.data.group.notts %}
 <li>
  {{ member.title }} 
  {% assign key = member.id %}
  {% include linked_name.html id=key %}
  {{ member.role }}{% if member.current != nil %}, now {{ member.current }}  {% endif %}
 </li>
{% endfor %}
</ul>


<h3>University of Bonn / Fraunhofer IAIS (until 2015)<br>
</h3>
<ul>
{% for member in site.data.group.bonn %}
 <li>
  {{ member.title }} 
  {% assign key = member.id %}
  {% include linked_name.html id=key %}
  {{ member.role }}{% if member.current != nil %}, now {{ member.current }}{% endif %}
 </li>
{% endfor %}
</ul>

<div>
<h2>Other Co-authors</h2>
<h3>Former Supervisors</h3>
<ul><li>Prof. Dr. {% include linked_name.html id="PeterFlach"%} (University of Bristol)</li>
<li>Prof. Dr. {% include linked_name.html id="StefanWrobel"%} (University of Bonn and Fraunhofer IAIS)<br>
</li></ul>
<h3>Co-supervised graduate students <br>
</h3>
<ul>
<li>{% include linked_name.html id="TimothyEllersiek"%}</li>
<li>Sebastian Bothe</li>
<li>Jens Humrich</li>
<li>Laurentiu Ilici</li>
<li>Hongqi Wang</li>
<li>Jiaojian Wang</li></ul>
</div>
<div>
<h3>National and International Collaborators<br>
</h3>
<ul>
<li>Dr. {% include linked_name.html id="GemmaGarriga"%} (Global Head of AI &amp; Advanced Business Analytics at Allianz, cf <a href="https://www.handelsblatt.com/unternehmen/it-medien/koepfe-der-kuenstlichen-intelligenz-8-eine-spanierin-will-den-allianz-konzern-radikal-vereinfachen/23110488.html">Handelsblatt</a>)</li>
<li>Dr. Eyjolfur Gudmondsson (president of the University of Akureyri, cf <a href="https://web.uri.edu/quadangles/the-virtual-economist/">The Virtual Economist</a>)</li>
<li>Dr. {% include linked_name.html id="AlexSmola"%} (Director for Machine Learning at Amazon Web Services)</li>
<li>Prof. Dr. {% include linked_name.html id="SVNVishwanathan"%} (University of California, Santa Cruz)</li>
<li>Emeritus Prof. Dr. {% include linked_name.html id="JohnLloyd"%} (Australian National University)</li>
<li>Prof. Dr. {% include linked_name.html id="ClaudioLucchese"%} (Ca’ Foscari University of Venice)</li>
<li>Prof. Dr. {% include linked_name.html id="TobiasScheffer"%} (University of Potsdam)</li>
<li>Prof. Dr. {% include linked_name.html id="KurtDriessens"%} (Maastricht University)</li>
<li>Prof. Dr. {% include linked_name.html id="JuergenBajorath"%} (University of Bonn)</li>
<li>Prof. Dr. {% include linked_name.html id="KristianKersting"%} (TU Darmstadt)</li>
<li>Prof. Dr. {% include linked_name.html id="StephaneCanu"%} (INSA of Rouen)</li>
<li>Dr. Hanna Geppert (Fraunhofer FKIE)</li>
<li>Prof. Dr. {% include linked_name.html id="GillesGasso"%} (INSA of Rouen)</li>
<li>Dr. {% include linked_name.html id="JanRamon"%} (INRIA Lille)</li>
<li>Dr. {% include linked_name.html id="YaseminAltun"%} (Google)</li>
<li>Dr. Karina Zapien Arreola</li>
<li>Dr. {% include linked_name.html id="QuocLe"%} (Google)</li>
<li>Dr. Henrik Grosskreutz</li>
<li>Dr. Dagmar Stumpfe</li>
<li>Dr. Adam Kowalczyk</li>
<li>Dr. Sandy Moens</li>
<li>Petur Oskarsson</li>
<li>Simon Burton</li>
</ul>
</div>
