			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
	        		<li><a href="/people">people</a></li>
	        		<li><a href="/software">software</a></li>
	        		<li><a href="/teaching">teaching</a></li>
	        		<li><a href="/publications">publications</a></li>
	        		<li><a href="/ruml_seminar">seminar</a></li>
	        		<li><a href="/hiring_en">open positions</a></li>
<!--	        		<li><a href="/papers">papers</a></li>
	        		<li><a href="/activities">activities</a></li>
	        		<li><a href="/software">software &amp; demos</a></li>
-->
	    		</ul>
			</nav>
